.my_table table {
   width: 100%;
}
 
.my_table th {
  background-color: #000000;
  color: #ffffff;
}

/* Replace header from first and last column */
.my_table th:nth-child(1), th:nth-child(8) {
    color: #000000;
}
 
.my_table td {
  background-color: #ffffff;
}

.my_table tr:nth-child(1), tr:nth-child(10), tr:nth-child(14) {
   border-bottom: 2px solid black;
}

/* Replace borders in bootstrap class */
.table>tbody>tr>td, .table>tbody>tr>th,.table>tfoot>tr>td, .table>tfoot>tr>th,
.table>thead>tr>td, .table>thead>tr>th {
  border:none;
}

/*.table>thead>tr>th*/